@model List<Company>

@{
    ViewData["Title"] = "Login";
}

<div class="d-flex justify-content-center align-items-center vh-100" style="overflow-x: hidden;"> @*Flex-Column eklenirse logo en üste alınır*@
    <div class="text-center mb-4" style="max-width: 400px; width: 100%; padding-top: 20px;">
        <img src="https://www.kyoceradocumentsolutions.com.tr/content/dam/kyocera/common/images/logo/kyocera-logo.svg"
             alt="Kyocera Logo" class="img-fluid" style="max-width: 100%; height: auto;">
    </div>
    
    <form method="post" asp-action="Login" asp-controller="Account" class="w-100" style="max-width: 400px;">
        <div class="mb-3">
            <select name="company" class="form-select" id="compaynChoose" aria-label="Default">
                @foreach (var item in Model)
                {
                    <option value="@item.CompanyName">@item.CompanyName</option>
                }
            </select>
        </div>

        <div class="mb-3">
            <label for="inputUsername" class="form-label">Kullanıcı Adı</label>
            <input type="text" class="form-control" id="inputUsername" name="name" required value="ERDEN_ADMIN">
        </div>

        <div class="mb-3">
            <label for="inputPassword" class="form-label">Şifre</label>
            <input type="password" class="form-control" id="inputPassword" name="password" required value="9319">
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary w-100">Giriş Yap</button>
        </div>
    </form>
</div>
