@{
    ViewData["Title"] = "Sipariş";
}
<h1>@ViewData["Title"]</h1>

<p>Herhangi bir sipariş işlemi giriniz</p>

<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sipariş Geç</h5>
                <a asp-area="" asp-controller="Order" asp-action="Place" class="btn btn-primary">Sayfaya Git</a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sipariş Onayla</h5>
                <a asp-area="" asp-controller="Order" asp-action="Confirm" class="btn btn-primary">Sayfaya Git</a>

            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sipariş Kontrol</h5>
                <a asp-area="" asp-controller="Order" asp-action="Control" class="btn btn-primary">Sayfaya Git</a>
            </div>
        </div>
    </div>
</div>
