@{
    ViewData["Title"] = "Ekstre";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-3">
        <div class="input-group mb-3">
            <label class="input-group-text" for="ekstreGroup">Başlangıç Tarihi: </label>
            <input type="date" class="form-control">
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="ekstreGroup">Bitiş Tarihi Tarihi: </label>
            <input type="date" class="form-control">
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="ekstreGroup">Dosya Biçimi</label>
            <select class="form-select" id="ekstreGroup">
                <option selected>Seçiniz..</option>
                <option value="1">PDF</option>
                <option value="2">Excel</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <button type="button" class="btn btn-secondary">İndir</button>
        </div>
    </div>
</div>
