USE [DTRKYOCERA]
GO
/****** Object:  Table [dbo].[Bilgitas Dijital$Sales Price]    Script Date: 18.02.2025 09:27:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bilgitas Dijital$Sales Price](
	[timestamp] [timestamp] NOT NULL,
	[Item No_] [nvarchar](20) NOT NULL,
	[Sales Type] [int] NOT NULL,
	[Sales Code] [nvarchar](20) NOT NULL,
	[Starting Date] [datetime] NOT NULL,
	[Currency Code] [nvarchar](10) NOT NULL,
	[Variant Code] [nvarchar](10) NOT NULL,
	[Unit of Measure Code] [nvarchar](10) NOT NULL,
	[Minimum Quantity] [decimal](38, 20) NOT NULL,
	[Unit Price] [decimal](38, 20) NOT NULL,
	[Price Includes VAT] [tinyint] NOT NULL,
	[Allow Invoice Disc_] [tinyint] NOT NULL,
	[VAT Bus_ Posting Gr_ (Price)] [nvarchar](10) NOT NULL,
	[Ending Date] [datetime] NOT NULL,
	[Allow Line Disc_] [tinyint] NOT NULL,
 CONSTRAINT [Bilgitas Dijital$Sales Price$0] PRIMARY KEY CLUSTERED 
(
	[Item No_] ASC,
	[Sales Type] ASC,
	[Sales Code] ASC,
	[Starting Date] ASC,
	[Currency Code] ASC,
	[Variant Code] ASC,
	[Unit of Measure Code] ASC,
	[Minimum Quantity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Bilgitas Dijital$Sales Price] ([Item No_], [Sales Type], [Sales Code], [Starting Date], [Currency Code], [Variant Code], [Unit of Measure Code], [Minimum Quantity], [Unit Price], [Price Includes VAT], [Allow Invoice Disc_], [VAT Bus_ Posting Gr_ (Price)], [Ending Date], [Allow Line Disc_]) VALUES (N'03KYFS1040', 1, N'BAYI', CAST(N'1753-01-01T00:00:00.000' AS DateTime), N'EURO-MS', N'', N'ADET', CAST(0.00000000000000000000 AS Decimal(38, 20)), CAST(40.00000000000000000000 AS Decimal(38, 20)), 0, 1, N'', CAST(N'1753-01-01T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Bilgitas Dijital$Sales Price] ([Item No_], [Sales Type], [Sales Code], [Starting Date], [Currency Code], [Variant Code], [Unit of Measure Code], [Minimum Quantity], [Unit Price], [Price Includes VAT], [Allow Invoice Disc_], [VAT Bus_ Posting Gr_ (Price)], [Ending Date], [Allow Line Disc_]) VALUES (N'03KYFS1040', 1, N'LISTE', CAST(N'1753-01-01T00:00:00.000' AS DateTime), N'EURO-MS', N'', N'ADET', CAST(0.00000000000000000000 AS Decimal(38, 20)), CAST(65.00000000000000000000 AS Decimal(38, 20)), 0, 1, N'', CAST(N'1753-01-01T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Bilgitas Dijital$Sales Price] ([Item No_], [Sales Type], [Sales Code], [Starting Date], [Currency Code], [Variant Code], [Unit of Measure Code], [Minimum Quantity], [Unit Price], [Price Includes VAT], [Allow Invoice Disc_], [VAT Bus_ Posting Gr_ (Price)], [Ending Date], [Allow Line Disc_]) VALUES (N'31BILTON1125', 1, N'BAYI', CAST(N'1753-01-01T00:00:00.000' AS DateTime), N'EURO-MS', N'', N'ADET', CAST(40.00000000000000000000 AS Decimal(38, 20)), CAST(0.00000000000000000000 AS Decimal(38, 20)), 0, 1, N'', CAST(N'1753-01-01T00:00:00.000' AS DateTime), 1)
GO
