@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Bayi Portalı</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form>
  <div class="mb-3 form-check">
    <input type="radio" class="form-check-input" id="companyCheck" name="companyCheck">
    <label class="form-check-label" for="companyCheck">Bilgitas</label>
  </div>
  <div class="mb-3 form-check">
    <input type="radio" class="form-check-input" id="companyCheck" name="companyCheck">
    <label class="form-check-label" for="companyCheck">Bilgitas Dijital</label>
  </div>
  <div class="mb-3">
    <label for="inputEmail" class="form-label">Kullanıcı Adı</label>
    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Şifre</label>
    <input type="password" class="form-control" id="inputPassword">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="checkOut">
    <label class="form-check-label" for="checkOut">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>